.featured{
    height: 90vh;
    position: relative;

    .category{
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;

        select{
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color: white;
            margin-left: 10px;
            padding: 5px;
        }

    }


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info{
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        display: flex;
        flex-direction: column;

        img{
            width: 300px;

        }

        .desc{
            margin: 20px 0px;
        }

        .buttons{
            display: flex;

            button{
                padding: 10px 20px;
                // background-color: white;
                border: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 500;
                margin-right: 10px;
                cursor: pointer;
                width: 110px;

                &.play{
                    background-color: white;
                    color: black;
                }

                &.more{
                    background-color: rgb(172, 172, 172);
                    color: white;
                }

                span{
                    margin-left: 5px;
                }

            }
        }


    }
}