.list{
    width: 100%;
    margin-top: 10px;

    .listTitle{
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }


    .wrapper{
        position: relative;
        .sliderArrow{
            width: 50px;
            height: 100%;
            background-color: rgba(46, 46, 46, 0.925);
            position: absolute;
            z-index: 999;
            top: 0;
            bottom: 0;
            margin: auto;

            &.left{
                left: 0;
            }
            &.right{
                right: 0;
            }
        }
        .container{
            // position: relative;
            display: flex;
            margin-left: 50px;
            margin-top: 10px;
            width: max-content ;
            transition: all 1s ease;
        }
    }
}