.navbar{
    width: 100%;
    color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    font-size: 15px;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);

    &.scrolled{
        background-color: var(--main-color);
    }


    .container{




        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;



        .left{
            display: flex;
            align-items: center;
            // padding: 0 3rem;



            img{
                width: 150px;
                margin-right: 40px;
            }

            span{
                margin-right: 20px;
                cursor: pointer;
            }
        }

        .right{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            // gap: 5rem;

            .icon{
                margin: 0px 15px;
                cursor: pointer;
            }


            .profile{
                .options{
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 10px;
                }

                span{
                    padding: 20px;
                    cursor: pointer;
                }

                &:hover{
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                } 
            }
        }
    }
}